In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [2]:
housing_df = pd.read_csv(Path('Resources/clean_housing.csv'))
housing_df.head()

,period_begin,period_end,state,property_type,median_sale_price,homes_sold
0,2020-11-01,2020-11-30,Illinois,All Residential,240700,13675
1,2019-07-01,2019-07-31,Connecticut,Single Family Residential,310900,3920
2,2016-11-01,2016-11-30,Illinois,Condo/Co-op,196800,1970
3,2013-02-01,2013-02-28,Kansas,Single Family Residential,147600,1150
4,2020-02-01,2020-02-29,Virginia,Multi-Family (2-4 Unit),217900,67

In [3]:
redFin_df = pd.read_csv("Resources/state_market_tracker.tsv000", sep = '\t', header = 0)
pd.set_option('display.max_columns', None)
redFin_df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,median_sale_price_yoy,median_list_price,median_list_price_mom,median_list_price_yoy,median_ppsf,median_ppsf_mom,median_ppsf_yoy,median_list_ppsf,median_list_ppsf_mom,median_list_ppsf_yoy,homes_sold,homes_sold_mom,homes_sold_yoy,pending_sales,pending_sales_mom,pending_sales_yoy,new_listings,new_listings_mom,new_listings_yoy,inventory,inventory_mom,inventory_yoy,months_of_supply,months_of_supply_mom,months_of_supply_yoy,median_dom,median_dom_mom,median_dom_yoy,avg_sale_to_list,avg_sale_to_list_mom,avg_sale_to_list_yoy,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2020-11-01,2020-11-30,30,state,4,29,f,Illinois,NaN,Illinois,IL,All Residential,-1,240700,-0.021078,0.119504,237800.0,-0.045352,0.151936,143.0,-0.020908,0.085853,147.0,-0.035377,0.131728,13675,-0.184313,0.306612,10235.0,-0.200703,0.353299,10894.0,-0.325156,0.165009,31595.0,-0.110601,-0.327566,2.3,0.2,-2.2,30.0,0.0,-29.0,0.978204,-0.000443,0.013595,0.247605,-0.001903,0.100271,0.187087,-0.054947,0.008821,0.396890,-0.048846,0.158456,Midwest Region,NaN,2022-06-12 14:28:57
1,2019-07-01,2019-07-31,30,state,4,13,f,Connecticut,NaN,Connecticut,CT,Single Family Residential,6,310900,-0.008471,-0.011858,267700.0,-0.072794,0.017424,154.0,-0.008206,0.012227,150.0,-0.033539,0.020864,3920,0.010049,0.017389,2836.0,-0.085161,-0.000352,4120.0,-0.135181,-0.012701,16738.0,-0.025784,-0.025954,4.3,-0.1,-0.2,63.0,2.0,-1.0,0.980187,0.000860,0.001815,0.268622,0.010699,0.016871,0.252718,-0.002331,0.008654,0.113327,-0.012259,-0.004835,Northeast Region,NaN,2022-06-12 14:28:57
2,2016-11-01,2016-11-30,30,state,4,29,f,Illinois,NaN,Illinois,IL,Condo/Co-op,3,196800,-0.017238,0.091028,211600.0,-0.058676,0.100747,167.0,-0.035648,0.009969,139.0,-0.050404,0.068062,1970,-0.077715,0.152047,1525.0,-0.168484,0.031102,1716.0,-0.230148,-0.035413,6633.0,-0.101341,-0.113946,3.4,-0.1,-1.0,47.0,3.0,-6.0,0.969768,0.000034,0.006245,0.173096,-0.004806,0.006430,0.183627,-0.057803,-0.005659,0.270014,-0.034544,0.008516,Midwest Region,NaN,2022-06-12 14:28:57
3,2013-02-01,2013-02-28,30,state,4,35,f,Kansas,NaN,Kansas,KS,Single Family Residential,6,147600,0.012570,0.139356,161800.0,0.106548,0.067186,74.0,-0.013275,0.037472,81.0,0.052301,0.048933,1150,0.120858,0.104707,289.0,0.146825,0.278761,1837.0,-0.086978,-0.067513,3919.0,-0.000510,-0.024639,3.4,-0.4,-0.5,111.0,-1.0,-16.0,0.963820,0.012191,0.014114,0.168582,0.045775,0.045505,NaN,NaN,NaN,0.057136,-0.001139,-0.007634,Midwest Region,NaN,2022-06-12 14:28:57
4,2020-02-01,2020-02-29,30,state,4,42,f,Virginia,NaN,Virginia,VA,Multi-Family (2-4 Unit),4,217900,0.185295,0.117804,229300.0,0.130324,0.105618,96.0,0.071595,0.099705,142.0,0.113793,0.110763,67,0.155172,0.175439,41.0,0.025000,0.051282,42.0,-0.288136,-0.475000,134.0,-0.100671,-0.294737,2.0,-0.6,-1.3,49.0,-9.0,-17.0,0.947714,-0.009251,-0.001354,0.149254,0.011323,0.008903,0.089552,0.022438,-0.047290,0.511706,0.195850,0.196963,South Region,NaN,2022-06-12 14:28:57

In [4]:
# Creating redfin dataframe with specified column
clean_redFin = redFin_df[['period_begin','period_end','state', 'property_type', 'median_sale_price', 'homes_sold' ]]
clean_redFin

,period_begin,period_end,state,property_type,median_sale_price,homes_sold
0,2020-11-01,2020-11-30,Illinois,All Residential,240700,13675
1,2019-07-01,2019-07-31,Connecticut,Single Family Residential,310900,3920
2,2016-11-01,2016-11-30,Illinois,Condo/Co-op,196800,1970
3,2013-02-01,2013-02-28,Kansas,Single Family Residential,147600,1150
4,2020-02-01,2020-02-29,Virginia,Multi-Family (2-4 Unit),217900,67
...,...,...,...,...,...,...
28970,2021-10-01,2021-10-31,Hawaii,Townhouse,1591000,21
28971,2015-08-01,2015-08-31,Georgia,Condo/Co-op,158200,662
28972,2013-11-01,2013-11-30,Maine,Single Family Residential,147400,370
28973,2016-12-01,2016-12-31,Oregon,Single Family Residential,312600,4511
28974,2016-12-01,2016-12-31,New Jersey,Multi-Family (2-4 Unit),272700,657

In [5]:
# drop columns
new_housing_df = housing_df.drop(["period_end","property_type"],axis=1)
new_housing_df.head()

  period_begin        state  median_sale_price  homes_sold
0   2020-11-01     Illinois             240700       13675
1   2019-07-01  Connecticut             310900        3920
2   2016-11-01     Illinois             196800        1970
3   2013-02-01       Kansas             147600        1150
4   2020-02-01     Virginia             217900          67

In [6]:
# change period began to only year 
new_housing_df['period_begin'] = pd.to_datetime(housing_df['period_begin']).dt.strftime('%Y')

#new_housing_df['period_begin'] = new_housing_df['period_begin'].astype(str).astype(int)

new_housing_df

      period_begin        state  median_sale_price  homes_sold
0             2020     Illinois             240700       13675
1             2019  Connecticut             310900        3920
2             2016     Illinois             196800        1970
3             2013       Kansas             147600        1150
4             2020     Virginia             217900          67
...            ...          ...                ...         ...
28970         2021       Hawaii            1591000          21
28971         2015      Georgia             158200         662
28972         2013        Maine             147400         370
28973         2016       Oregon             312600        4511
28974         2016   New Jersey             272700         657

[28975 rows x 4 columns]

In [7]:
# rename 'period began' with 'year'
new_housing_df = new_housing_df.rename({'period_begin':'year'}, axis='columns')
new_housing_df.head(15)

    year        state  median_sale_price  homes_sold
0   2020     Illinois             240700       13675
1   2019  Connecticut             310900        3920
2   2016     Illinois             196800        1970
3   2013       Kansas             147600        1150
4   2020     Virginia             217900          67
5   2014        Maine             144600         486
6   2014     Nebraska             150700          73
7   2017  Connecticut             170600         267
8   2019     Colorado             645400          59
9   2016     Virginia             298100        8206
10  2012      Indiana             141300          48
11  2018    Wisconsin             136400         381
12  2015      Arizona             224100        8468
13  2021     Virginia             284000        1372
14  2014         Ohio             133900       11740

In [8]:
#new_housing_df['year'] = pd.to_datetime(new_housing_df['year'], infer_datetime_format = True)
#new_housing_df

In [9]:
migration_df = pd.read_csv(Path('Resources/clean_migration.csv'))
migration_df.head()

  current_state  year  population     from  from_different_state_Total
0       Alabama  2010     4729509  Alabama                      108723
1        Alaska  2010      702974  Alabama                       36326
2       Arizona  2010     6332786  Alabama                      222725
3      Arkansas  2010     2888304  Alabama                       79127
4    California  2010    36907897  Alabama                      444749

In [10]:
# Adding migration DataFrame
migration_df = pd.read_csv("Resources/Migration_Flows_from_2010_to_2019.csv", header = 0)
migration_df

,current_state,year,population,same_house,same_state,from_different_state_Total,abroad_Total,from,number_of_people
0,Alabama,2010,4729509,3987155,620465,108723,13166,Alabama,0
1,Alaska,2010,702974,565031,95878,36326,5739,Alabama,477
2,Arizona,2010,6332786,5069002,1001991,222725,39068,Alabama,416
3,Arkansas,2010,2888304,2387806,412997,79127,8374,Alabama,1405
4,California,2010,36907897,30790221,5413287,444749,259640,Alabama,3364
...,...,...,...,...,...,...,...,...,...
28075,Washington,2019,7527366,6253469,977928,231956,64013,abroad_ForeignCountry,62230
28076,West Virginia,2019,1773280,1563611,164739,39548,5382,abroad_ForeignCountry,4776
28077,Wisconsin,2019,5760481,5001140,634732,107973,16636,abroad_ForeignCountry,16123
28078,Wyoming,2019,572884,473128,68127,30247,1382,abroad_ForeignCountry,1382
28079,Puerto Rico,2019,3175835,2968876,169733,31144,6082,abroad_ForeignCountry,5740

In [11]:
#Selecting columns with data related to analysis 
migration_df_clean = migration_df[['current_state', 'year', 'population', 'from', 'number_of_people','from_different_state_Total']]
migration_df_clean

,current_state,year,population,from,number_of_people,from_different_state_Total
0,Alabama,2010,4729509,Alabama,0,108723
1,Alaska,2010,702974,Alabama,477,36326
2,Arizona,2010,6332786,Alabama,416,222725
3,Arkansas,2010,2888304,Alabama,1405,79127
4,California,2010,36907897,Alabama,3364,444749
...,...,...,...,...,...,...
28075,Washington,2019,7527366,abroad_ForeignCountry,62230,231956
28076,West Virginia,2019,1773280,abroad_ForeignCountry,4776,39548
28077,Wisconsin,2019,5760481,abroad_ForeignCountry,16123,107973
28078,Wyoming,2019,572884,abroad_ForeignCountry,1382,30247
28079,Puerto Rico,2019,3175835,abroad_ForeignCountry,5740,31144

In [12]:
migration_df.dtypes

current_state                 object
year                           int64
population                     int64
same_house                     int64
same_state                     int64
from_different_state_Total     int64
abroad_Total                   int64
from                          object
number_of_people               int64
dtype: object

In [13]:
migration_df['year'] = pd.to_datetime(migration_df['year'].astype(str), format='%Y')

migration_df

,current_state,year,population,same_house,same_state,from_different_state_Total,abroad_Total,from,number_of_people
0,Alabama,2010-01-01,4729509,3987155,620465,108723,13166,Alabama,0
1,Alaska,2010-01-01,702974,565031,95878,36326,5739,Alabama,477
2,Arizona,2010-01-01,6332786,5069002,1001991,222725,39068,Alabama,416
3,Arkansas,2010-01-01,2888304,2387806,412997,79127,8374,Alabama,1405
4,California,2010-01-01,36907897,30790221,5413287,444749,259640,Alabama,3364
...,...,...,...,...,...,...,...,...,...
28075,Washington,2019-01-01,7527366,6253469,977928,231956,64013,abroad_ForeignCountry,62230
28076,West Virginia,2019-01-01,1773280,1563611,164739,39548,5382,abroad_ForeignCountry,4776
28077,Wisconsin,2019-01-01,5760481,5001140,634732,107973,16636,abroad_ForeignCountry,16123
28078,Wyoming,2019-01-01,572884,473128,68127,30247,1382,abroad_ForeignCountry,1382
28079,Puerto Rico,2019-01-01,3175835,2968876,169733,31144,6082,abroad_ForeignCountry,5740

In [14]:
migration_df.dtypes

current_state                         object
year                          datetime64[ns]
population                             int64
same_house                             int64
same_state                             int64
from_different_state_Total             int64
abroad_Total                           int64
from                                  object
number_of_people                       int64
dtype: object

In [15]:
# set state as index
#migration_df.set_index('current_state', inplace=True)
#migration_df

In [16]:
new_migation = migration_df.drop(['from'],axis=1)
new_migation

,current_state,year,population,same_house,same_state,from_different_state_Total,abroad_Total,number_of_people
0,Alabama,2010-01-01,4729509,3987155,620465,108723,13166,0
1,Alaska,2010-01-01,702974,565031,95878,36326,5739,477
2,Arizona,2010-01-01,6332786,5069002,1001991,222725,39068,416
3,Arkansas,2010-01-01,2888304,2387806,412997,79127,8374,1405
4,California,2010-01-01,36907897,30790221,5413287,444749,259640,3364
...,...,...,...,...,...,...,...,...
28075,Washington,2019-01-01,7527366,6253469,977928,231956,64013,62230
28076,West Virginia,2019-01-01,1773280,1563611,164739,39548,5382,4776
28077,Wisconsin,2019-01-01,5760481,5001140,634732,107973,16636,16123
28078,Wyoming,2019-01-01,572884,473128,68127,30247,1382,1382
28079,Puerto Rico,2019-01-01,3175835,2968876,169733,31144,6082,5740

In [17]:
#new_housing_df.to_csv(r'Resources/new_housing_df.csv', index = False)
print(new_housing_df.dtypes)

year                 object
state                object
median_sale_price     int64
homes_sold            int64
dtype: object

In [18]:
#new_migation.to_csv(r'Resources/new_migation.csv', index = False)
print(new_migation.dtypes)

current_state                         object
year                          datetime64[ns]
population                             int64
same_house                             int64
same_state                             int64
from_different_state_Total             int64
abroad_Total                           int64
number_of_people                       int64
dtype: object

In [ ]:
joined_df = new_housing_df.set_index('year').join(new_migation.set_index('year'))
joined_df

In [ ]:
both_clean_df = pd.concat([clean_redFin, migration_df_clean])
both_clean_df

In [ ]:
X = both_clean_df.median_sale_price.values.reshape(-1, 1)
y = both_clean_df.from_different_state_Total

In [ ]:
model = LinearRegression()
model.fit(X, y)

In [ ]:
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()

In [ ]:
print(model.coef_)
print(model.intercept_)